/* Left menu*/
ul.footer-menu
{
	list-style:none;
	margin:0; padding:0;
    font-size:11px
	position: relative; /*IE bug*/
}

ul.footer-menu li
{
	padding: 0 15px;
    float: left;
background: none;
}

ul.footer-menu li a
{
	font-size:100%;
	color:#353535;
	font-weight:normal;
	text-decoration:none;
}

ul.footer-menu li a:visited
{
	color:#353535;
}

ul.footer-menu li a:hover
{
	color:#353535;
    text-decoration:underline;
}


ul.footer-menu li a.selected:link,
ul.footer-menu li a.selected:visited,
ul.footer-menu li a.selected:active,
ul.footer-menu li a.selected:hover
{
	color:#353535;
}