/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,
h2,
h3,
h4, 
h5, 
h6, 
p {
	margin:0;
	padding:0;
	font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}
thead th, 
tbody th {
	font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}
button, 
a.btn, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
	font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}
.menu {
	font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}
blockquote {
    margin: 0 0 20px 10px;
    font-style: italic;
    color: #777;
    border-left: 5px solid #EA5E21;
    padding: 0 0 0 15px;
    line-height: 1.2em;
}
/* LET'S CLEAR SOME FLOATING
==============================================================================*/
.clearfix:before, 
.clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
dd {
	margin: 0 0 0 40px;
}
ul, ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
a img {
	border: 0;
}

a {
    color: #EA5E21;
    text-decoration: none;
}
/*---------------------------------
							LAYOUT
-----------------------------------*/
body {
	margin: 0;
	padding: 0;
	color: #000;
	background: #fff url('images/banner-bg.png') no-repeat center 140px;
	position: relative;
	font: normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
	text-shadow: 0px 0px 1px transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* google font pixelation fix */
}
/*---------------------------------
					FONT FACE
-----------------------------------*/
@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('fonts/webfonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/webfonts/MyriadPro-Bold.woff') format('woff'),  
	url('fonts/webfonts/MyriadPro-Bold.ttf') format('truetype'),  
	url('fonts/webfonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
}
/*---------------------------------
					SERVICE BAR
-----------------------------------*/
.servicebar {
	background-color: #626262;
	height: 33px;
}
nav {
	width: 962px;
	height: 21px;
	margin: 0 auto;
	padding-top:12px;
}
nav .left-menu {
	float: left;
}
nav .right-menu {
	float: right;
}
.menu li {
	float: left;
	padding: 0px 8px;
	border-left: 1px solid #fff;
	font: 11px/1 Tahoma, Geneva, sans-serif;
}
.menu li:first-child {
	border-left: 0;
}
.menu li:last-child {
	padding-right: 0;
}
.menu li a {
	color: #fff;
	text-decoration: none;
}
/*---------------------------------
							HEADER
-----------------------------------*/
.header-wrapper {
	/*background: #ecebeb;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(0%, #ecebeb), to(100%, #fff));
	background: -webkit-linear-gradient(#ecebeb, #fff);
	background: -moz-linear-gradient(#ecebeb, #fff);
	background: -ms-linear-gradient(#ecebeb, #fff);
	background: -o-linear-gradient(#ecebeb, #fff);
	background: linear-gradient(#ecebeb, #fff);
	-pie-background: linear-gradient(#ecebeb, #fff);*/
}
header {
	width: 963px;
	height: 121px;
	margin: 0 auto 24px;
	position: relative;
}
.logo {
	width: 321px;
	height: 111px;
	position: absolute;
	left: 2px;
	top: 13px;
}
.logo a {
	display: block;
	text-decoration: none;
}
.user {
	width: 153px;
	position: absolute;
	top: 45px;
	left: 409px;
}
.user .phone_no {
	display: block;
	color: #3f3f3f;
	padding: 0px 0px 16px 28px;
	font: 16px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-weight: bold;
	background:url('images/phone-bg.png') no-repeat left top;
}
.user ul {
	float: right;
}
.user li {
	float: left;
	border-left: 1px solid #969494;
	padding: 0px 6px 0px 7px;
	font:12px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.user li:first-child {
	border-left: 0;
	padding-left: 0px;
}
.user li.last {
	padding-right: 0;
}
.user li a {
	text-decoration: none;
	color: #ea5e21;
}
/*---------------------------------
						COUNTER
-----------------------------------*/
.counter-wrapper {
	width: 369px;
	height: 51px;
	border-radius: 14px;
	float: right;
	margin-top: 42px;
	margin-right: 3px;
	box-shadow: 0px 1px 1px #bebebe;
	background: #f6f6f6;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(5%, #f6f6f6), to(100%, #fff));
	background: -webkit-linear-gradient(#f6f6f6, #fff);
	background: -moz-linear-gradient(#f6f6f6, #fff);
	background: -ms-linear-gradient(#f6f6f6, #fff);
	background: -o-linear-gradient(#f6f6f6, #fff);
	background: linear-gradient(#f6f6f6, #fff);
	-pie-background: linear-gradient(#f6f6f6, #fff);
	position: relative;
}
.counter {
	display: block;
	width: 172px;
	height: 37px;
	padding: 5px 0 0 5px;
	color: #fff;
	font-size: 30px;
	font-family: 'MyriadPro-Bold';
	letter-spacing: 4.4px;
	position: absolute;
	right: 7px;
	top: 8px;
	background: url('images/counter-bg.png') no-repeat left top;
}
.counter-wrapper span {
	display: block;
	color: #eb5e21;
	margin: 21px 0px 0px 16px;
	font: 12px/1 Calibri;
	font-weight: bold;
	text-transform: uppercase;
}
/*---------------------------------
							BANNER
-----------------------------------*/
.banner {
	height: 384px;
	width: 900px;
	margin: 0 auto 65px;
	padding: 20px 41px 20px 20px;
	border-radius: 14px;
	background: #f6f6f6;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(5%, #f6f6f6), to(100%, #fff));
	background: -webkit-linear-gradient(#f6f6f6, #fff);
	background: -moz-linear-gradient(#f6f6f6, #fff);
	background: -ms-linear-gradient(#f6f6f6, #fff);
	background: -o-linear-gradient(#f6f6f6, #fff);
	background: linear-gradient(#f6f6f6, #fff);
	-pie-background: linear-gradient(#f6f6f6, #fff);
	position: relative;
}
.video {
	width: 540px;
	float: left;
}
.player {
	width: 540px;
	height: 330px;
}
.share-this {
	margin: 16px 0 34px;
	height: 56px;
}
.video .share-this span,
.video .share-this ul  {
	float: left;
}
.video .share-this span {
		padding-top: 9px;
		margin: 0 10px 0 0;
}
.video .share-this ul {
	margin-left: 9px;
}
.share-this span {
	width: 66px;
	margin: 0 auto;
	display: block;
	padding-bottom: 9px;
	font: 12px/1 Calibri;
	font-weight: bold;
}
.share-this ul {
	width: 222px;
	height: 25px;
	margin: 0 auto !important;
	padding-top: 5px;
	margin-left: 9px;
	border: 1px solid #cccccc;
	background: #fff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(5%, #fff), to(#f6f6f6));
	background: -webkit-linear-gradient(#fff, #f6f6f6);
	background: -moz-linear-gradient(#fff, #f6f6f6);
	background: -ms-linear-gradient(#fff, #f6f6f6);
	background: -o-linear-gradient(#fff, #f6f6f6);
	background: linear-gradient(#fff, #f6f6f6);
	-pie-background: linear-gradient(#fff, #f6f6f6);
}
.share-this li {
	float: left;
	padding-right: 8px;
}
.share-this li:first-child {
	padding-left: 13px;
}
.share-this li a {
	display: block;
	width: 22px;
	height: 22px;
	text-decoration: none;
	text-indent: -9999px;
	background: url('images/share-this1.png') no-repeat left top;
}
.share-this li a.bloger {
	background-position: -33px 0px;
}
.share-this li a.link {
	width: 15px;
	background-position: -66px 0px;
}
.share-this li a.twitter {
	width: 28px;
	background-position: -88px 0px;
}
.share-this li a.youtube {
	width: 45px;
	background-position: -123px 0px;
}
.share-this li a.at {
	background-position: -178px 0px;
}
.information {
	width: 337px;
	float: right;
}
.information h1 {
	color: #3f3f3f;
	font: 30px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	padding-bottom: 7px;
	text-transform: uppercase;
}
.information p {
	color: #3f3f3f;
	width: 271px;
	font: 20px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.information h2 {
	color: #3f3f3f;
	padding: 10px 0px;
	font: 20px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.information ul {
	padding-bottom: 14px;
}
.information li {
	color: #3f3f3f;
	padding: 0px 0px 5px 8px;
	font: 14px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background: url('images/li-bg.png') no-repeat 0px 7px;
}
.information span {
	display: block;
	color: #6c6a6a;
	font: 11px/1 Tahoma, Geneva, sans-serif
}
.information .more {
	display: inline-block;
	width: 184px;
	height: 26px;
	text-align: center;
	color: #232222;
	margin-top: 14px;
	padding-top: 12px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 1px #ffea6a;
	font: 16px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-weight:bold;
	background:url('images/btn-bg.png') no-repeat left top;
}
.ie7 .information .more, 
.ie7 .information .learn-more {
	float: left;
}
.information .learn-more {
	display: inline-block;
	text-decoration: none;
	color: #3f3f3f;
	padding-left: 19px;
	font: 11px/1 Tahoma, Geneva, sans-serif;
	background: url('images/learn-more-bg.png') no-repeat left 7px;
    margin-left: 5px;
}
.ie7 .information .learn-more {
	margin: 30px 0px 0px 5px;
}
/*---------------------------------
						RESPOND
-----------------------------------*/
/* POP UP */

#sidePanel{
  width: 300px;
  position: fixed;
  right: -262px;
  z-index: 9999;
  top: 15%;
}
#panelHandle {
	background: url('images/respond-bg.png') no-repeat left 108px;
  height: 397px;
  width: 36px;
  float: right;
  cursor: pointer;
  text-indent: -9999px;
}
#panelContent{
  float: right;
  width: 262px;
  height: 397px;
}

#response-box {
 	border-radius: 15px 0 0 15px;
	background-color: #fff;
  height: 397px;
  width: 300px;
}
.close {
  background: url("images/close-bg.png") no-repeat;
	cursor: pointer;
  display: block;
  height: 397px;
  float: left;
  width: 36px;
}
.comment-box {
  background: #f6f6f6;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(100%, #f6f6f6), to(62%, #ffffff));
  background: -webkit-linear-gradient(#f6f6f6, #ffffff);
  background: -moz-linear-gradient(#f6f6f6, #ffffff);
  background: -ms-linear-gradient(#f6f6f6, #ffffff);
  background: -o-linear-gradient(#f6f6f6, #ffffff);
  background: linear-gradient(#f6f6f6, #ffffff);
  -pie-background: linear-gradient(#f6f6f6, #ffffff);
  box-shadow:0 3px 20px 0 #CCCCCC inset;
  overflow-y: scroll;
 	width: 262px;
  height: 397px;
  float: left;
}
.ie9 .comment-box {
  box-shadow:0 3px 35px 0 #CCCCCC inset;
}
.ie8 .comment-box,
.ie7 .comment-box {
  background: #f6f6f6 url(images/asdfasdf.png) no-repeat;
}
.ie8 .comment-box li,
.ie7 .comment-box li {
  background:url(images/comment-box-bg.png) repeat-y top left;
}
.comment-box li {
  padding: 22px 22px 12px 20px;
  height: 60px;
}
.comment-box li a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 206px;
  height: 81px;
}
.comment-box .avatar {
 	margin-right: 18px;
  float: left;
}
.comment-box .content {
	border-bottom: 1px dashed #dbdada;
  padding: 0 0 12px 0;
	width: 127px;
  float: left;
}
.comment-box strong {
  font: 14px/1 Calibri;
}
.comment-box span,
.comment-box .star {
  font: 11px/1 Tahoma, Geneva, sans-serif;
}
.comment-box span { color: #eb5e21; }
.comment-box .star,
.comment-box strong { 
  display: block;
	color: #3f3f3f; 
}
.comment-box .star {
  background: url("images/like.png") no-repeat;
  padding-left: 15px;
}
#respond {
	width: 514px;
}
#respond form {
	box-shadow: 0px 0px 10px 0px #efefef inset;
  padding: 20px 18px 18px 20px;
  border-radius: 0 0 13px 13px;
  background: #fff;
  margin: 0;
}
#respond div {
  clear: both;
}
#respond .name {
	background: #ff971c;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(0%, #ff971c), to(100%, #eb5e21));
  background: -webkit-linear-gradient(#ff971c, #eb5e21);
  background: -moz-linear-gradient(#ff971c, #eb5e21);
  background: -ms-linear-gradient(#ff971c, #eb5e21);
  background: -o-linear-gradient(#ff971c, #eb5e21);
  background: linear-gradient(#ff971c, #eb5e21);
  -pie-background: linear-gradient(#ff971c, #eb5e21); 
  box-shadow:0 1px 0 0 #ffc177 inset;
  font: bold 14px/1 Calibri;
  vertical-align: middle;
  border-radius: 13px 13px 0 0;
  text-align: center;
  padding-top: 10px;
  height: 23px;
  color: #ffffff;
}
#respond .avatar {
  margin-right: 13px;
  float: left;
}
#respond .avatar a {
  display: block;
}
#respond address {
  font: 11px/1 Tahoma, Geneva, sans-serif;
	padding: 0 0 20px 0;
  color: #3f3f3f;
  float: left;
}
#respond address strong {
  font: 14px/1 Calibri;
	margin-bottom: 6px;
  display: block;
}
#respond address span {
	margin-bottom: 6px;
  display: block;
}
#respond address a {
  display: inline-block;
  color: #eb5e21;
}
#respond address .star {
  background: url("images/like.png") no-repeat left 8px;
  padding: 8px 0 8px 15px;
  display: block;
}
#respond address input[type=text] {
  border: 1px solid #b2b2b2;
	vertical-align: middle;
  padding: 0 0 0 6px;
  width: 120px;
  height: 16px;
}
#respond .comments {
  border-color: #b2b2b2 #b1b1b1 #b2b2b2 #b1b1b1;
	font: 11px/1 Tahoma, Geneva, sans-serif;
	margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;  
  color: #3f3f3f;
  padding: 8px;
	width: 460px;
}
#respond .comments li {
  margin-bottom: 5px;
}
#respond .comments li a {
  display: inline-block;
  text-decoration: none;
}
#respond .comment-user {
  color: #3f3f3f;
}
#respond .comment-author {
  color: #eb5e21;
}
#respond .comment-time {
  display: inline-block;
	margin: 0 5px 0 3px;
  color: #b2b2b2;
}
#respond textarea {
	font: 11px/1 Tahoma, Geneva, sans-serif;
	padding: 10px 0 0 8px;
  margin: 0 0 14px 0;
  overflow: hidden;
	color: #3f3f3f;
  height: 33px;
  resize: none;
  width: 468px;
}
#respond #submit {
  background: #ff971c;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(0%, #ff971c), to(100%, #eb5e21));
  background: -webkit-linear-gradient(#ff971c, #eb5e21);
  background: -moz-linear-gradient(#ff971c, #eb5e21);
  background: -ms-linear-gradient(#ff971c, #eb5e21);
  background: -o-linear-gradient(#ff971c, #eb5e21);
  background: linear-gradient(#ff971c, #eb5e21);
  -pie-background: linear-gradient(#ff971c, #eb5e21);
	box-shadow: 0 0 2px 0 #c5c5c5;
  vertical-align: middle;
	border-radius: 10px;
  color: #ffffff;
  border: 0 none;
  height: 28px;
  width: 100px;
  float: right;
  padding: 0;
}
/*---------------------------------
							WRAP
-----------------------------------*/
#wrap {
	width: 1036px;
	margin: 0 auto 20px;
	padding: 0;
}
#wrap h2 {
	color: #3f3f3f;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 25px;
	font: 30px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
/*---------------------------------
						OUR-CONTACTS
-----------------------------------*/
.our-contacts {
	width:960px;
	margin:0 auto 30px;
}
.our-contacts li {
	width:228px;
	height:217px;
	float:left;
	border-radius:12px;
	position:relative;
	margin-right:16px;
}
.our-contacts li a {
	display:block;
	text-decoration:none;
	text-align:center;
	color:#eb5e21;
	font:18px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-weight:bold;
	border-radius:10px;
	text-transform:uppercase;
	padding:23px 48px 18px 42px;
	box-shadow:0px 2px 1px #e9e9e9;
	position:relative;
	background: #f6f6f6;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(5%, #f6f6f6), to(40%, #fff));
	background: -webkit-linear-gradient(#f6f6f6, #fff);
	background: -moz-linear-gradient(#f6f6f6, #fff);
	background: -ms-linear-gradient(#f6f6f6, #fff);
	background: -o-linear-gradient(#f6f6f6, #fff);
	background: linear-gradient(#f6f6f6, #fff);
	-pie-background: linear-gradient(#f6f6f6, #fff);
}
.our-contacts li:hover {
	padding:2px 2px 3px;
	width:224px;
	height: 212px;
	background: #ffc355;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffc355), to(#ee4c15));
	background: -webkit-linear-gradient(#ffc355, #ee4c15);
	background: -moz-linear-gradient(#ffc355, #ee4c15);
	background: -ms-linear-gradient(#ffc355, #ee4c15);
	background: -o-linear-gradient(#ffc355, #ee4c15);
	background: linear-gradient(#ffc355, #ee4c15);
	-pie-background: linear-gradient(#ffc355, #ee4c15);
}
.our-contacts li:hover a {
	color:#3f3f3f;
	box-shadow:none;
	background:#fff;
	padding:21px 46px 13px 40px;
	height: 179px;
}
.ie7 .our-contacts li:hover a {
	padding:21px 46px 15px 40px;
}
/*---------------------------------
					 SOLUTIONS BLOCK
-----------------------------------*/
.solutions-block {
	margin-bottom:22px;
}
.solutions {
	padding:42px 0 0 38px;
	background:url('images/solutions-bg.png') no-repeat left top
}
.solutions-block h2 {
	padding-bottom:13px !important;
}
.solutions li {
	float:left;
	width:272px;
	margin:0px 0px 17px 80px;
	text-align:center;
	color:#5a5a5a;
	font:14px/1.28 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.solutions li:first-child, 
.solutions-block li.read-more:first-child {
	margin-left:0;
}
.solutions li a {
	display:block;
	width:272px;
	height:168px;
	color:#f5b33f;
	padding-top:92px;
	margin-bottom:22px;
	text-align:center;
	font:18px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	text-decoration:none;
	background:url('images/solution-li-bg.png') no-repeat left top;
}
.solutions li a:hover {
	color:#fff;
	background:url('images/solution-li-hover-bg.png') no-repeat left top;
}
.solutions-block ul {
	padding-left: 31px;
}
.solutions-block li.read-more {
	width:272px;
	float:left;
	text-align:center;
	margin-left:80px;
	background:url('images/more-bg.png') no-repeat 5px 10px;
}
.solutions-block li.read-more a {
	color:#eb5e21;
	text-decoration:none;
	margin-left:8px;
}
/*---------------------------------
					MORE BUTTON
-----------------------------------*/
.more {
	display: block;
	width: 188px;
	height: 26px;
	text-align: center;
	color: #232222;
	margin: 17px auto;
	padding-top: 13px;
	font: 16px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 1px #ffea6a;
	font-weight: bold;
	background: url('images/btn-bg.png') no-repeat left top;
}
/*---------------------------------
					GET MORE BLOCK
-----------------------------------*/
.get-more-block {
	padding-top:31px;
	background:url('images/get-more-bg.png') no-repeat center top;
}
.get-more-block li {
	width:270px;
	height:197px;
	float:left;
	padding:4px;
	border-radius:12px;
	position:relative;
	background:url('images/get-more-li-bg.png') repeat-x left top;
}
.get-more-block li.separater {
	width:63px;
	height:205px;
	padding:0;
	border-radius:0;
	background:#fff url('images/separater.png') no-repeat center center;
}
.get-more-block li span {
	display:block;
	height:181px;
	color:#eb5e21;
	padding:16px 21px 0px 19px;
	text-align:center;
	border-radius:8px;
	position:relative;
	font:14px/1.28 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background-color:#fff;
}
.get-more-block li span img {
	display:block;
	margin:0 auto;
}

.get-more-block ul {
	display:block;
	width:960px;
	margin:1px auto;
}
/*---------------------------------
						POST BLOCK
-----------------------------------*/
.post-block {
	padding-top: 26px;
	margin-bottom: 30px;
	height: 354px;
	background: url('images/border.png') no-repeat center top;
}
.post-block .block-one, 
.post-block .block-two {
	float: left;
	width: 480px;
	height:300px;
	padding-right: 38px;
	margin-right: 32px;
	margin-bottom: 15px;
	background: url('images/post-separater.png') no-repeat right -30px;
}
.ie7 .post-block .block-one, 
.ie7 .post-block .block-two {
	margin-bottom: 0;
}
.post-block .block-two {
	background: none;
	margin-right: 0;
	padding-right:0;
}
#wrap .post-block h2, 
#wrap .tape-block h2 {
	text-align: left;
	padding-bottom: 10px;
}
.post-block ul {
	margin-bottom: 10px;
}
.post-block li {
	padding-left: 64px;
	margin-top: 20px;
	background: url('images/post-li-bg.png') no-repeat left top;
}
.post-block li {
	color: #5a5a5a;
	font: 12px/1.2 Tahoma, Geneva, sans-serif;
}
.post-block li h3 {
	padding: 6px 0px 2px;
	font: 12px/1 Tahoma, Geneva, sans-serif;
	font-weight: bold;
}
.post-block li h3 a {
	color: #ea5e21;
	text-decoration: none;
}
.post-block li ul {
	clear: both;
	margin-bottom: 0;
}
.post-block li li {
	float: left;
	padding: 0px 14px;
	margin-top: 0;
	border-left: 1px solid #797979;
	font: 11px/1 Tahoma, Geneva, sans-serif;
	background: none;
}
.post-block li li a {
	display: block;
	color: #ea5e21;
	text-decoration: none;
}
.post-block li li a.like {
	padding-left: 16px;
	background: url('images/like.png') no-repeat left top;
}
.post-block li li a.comments {
	padding-left: 16px;
	background: url('images/comment.png') no-repeat left 2px;
}
.post-block li li:first-child {
	padding-left: 0px;
	border-left: 0;
}
.post-block .more-post {
	display: block;
	float: left;
	color: #ea5e21;
	text-decoration: none;
	padding-left: 13px;
	font: 14px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background: url('images/more-post-bg.png') no-repeat left 7px;
    background-position: 0 5px;
}
.post-block .subscribe {
	clear: both;
}
/*---------------------------------
						TAPE BLOCK
-----------------------------------*/
.tape-block {
	width: 1036px;
    margin: 0;
}
.tape-sostav, 
.tape-adme {
	width: 500px;
	float: left;
}
.tape-sostav, #wrap .tape-block .tape-sostav h2 {text-align:right;}
.tape-adme {
	float: right;
	margin-right: 0;
}
.tape-block h3, .tape-block h3 a {
	color: #ea5e21;
	padding: 9px 0px 3px;
	font: 11px/1 Tahoma, Geneva, sans-serif;
    text-decoration: none;
}
.tape-block h3 a:hover { text-decoration: underline; }
.tape-block p {
	color: #5a5a5a;
	font: 11px/1 Tahoma, Geneva, sans-serif;
}
.inner .respond {
	top: 847px;
}
/*---------------------------------
						INNER WRAP
-----------------------------------*/
.inner #wrap {
	width: 960px;
	margin: 0 auto;
	border-radius: 13px 13px 0 0;
	background-color: #fff;
}
/*---------------------------------
						PAGE
-----------------------------------*/
.page {
	margin-bottom: 48px;
	border-radius: 14px;
	background-color: #fff;
	border-bottom: 1px solid #bebebe;
	box-shadow: 0 1px 1px #e9e9e9;
	background: #f6f6f6;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(5%, #f6f6f6), to(100%, #fff));
	background: -webkit-linear-gradient(#f6f6f6, #fff);
	background: -moz-linear-gradient(#f6f6f6, #fff);
	background: -ms-linear-gradient(#f6f6f6, #fff);
	background: -o-linear-gradient(#f6f6f6, #fff);
	background: linear-gradient(#f6f6f6, #fff);
	-pie-background: linear-gradient(#f6f6f6, #fff);
	position: relative;
	z-index: 50;
	
}
.content p { font-family: Calibri; font-size: 14px ; margin-bottom: 10px; }
.shadow {
	padding-bottom: 24px;
	border-radius: 14px;
	box-shadow: 0 10px 23px 0 #CCCCCC inset;
}
.ie7 .shadow,
.ie8 .shadow {
	background: url('images/inner-shadow.png') no-repeat left bottom;
}
/*---------------------------------
						BASKET
-----------------------------------*/
.basket {
	height: 40px;
	padding-top: 8px;
	margin-bottom: 29px;
	border-bottom: 1px solid #ef9b77;
}
.ie7 .basket,
.ie8 .basket {
	background: url('images/basket-bg.png') no-repeat left top;
}
.item {
	float: left;
	width: 21px;
	height: 41px;
	color: #ea5e20;
	margin-left: 264px;
	font: 12/1 Calibri;
	text-align: center;
	background: url('images/item-bg.png') no-repeat left top;
}
.basket ul {
	padding-top: 10px;
}
.basket li {
	float: left;
	color: #3f3f3f;
	margin-right: 9px;
	padding-left: 10px;
	border-left: 1px solid #3f3f3f;
	font: 16px/1 Calibri;
}
.basket li:first-child {
	border-left :0;
}
.basket li span {
	color: #eb5e21;
}
/*---------------------------------
							INFO
-----------------------------------*/
.manager .page {
	margin-bottom:10px;
}
.manager .post-block {
	height:338px;
	background:url('images/blogger-post-block.png') no-repeat center bottom;
}
.info,
.blog-post {
	padding-bottom: 38px;
}
.ie7 .info,
.ie7 .blog-post {
	padding-bottom: 10px;
}
.info .manager {
	text-align: center;
	padding-left: 390px;
	margin-bottom: 24px;
}
.photo {
	float: left;
	width: 439px;
	height: 283px;
	margin: 0 29px 0 28px;
	border-radius: 12px;
	border: 1px solid #dedede;
	text-indent: -9999px;
	background: #fff url('images/photo.jpg') no-repeat center center;
	z-index: 100;
}
.manager-activity,
.post {
	width: 435px;
	float: left;
}
#wrap .manager-activity h2,
#wrap .post h2 {
	color: #5a5a5a;
	text-align: left;
	padding-bottom: 10px;
	font: 18px/1 Calibri;
	font-weight: bold;
}
.manager-activity p,
.post p {
	color: #5a5a5a;
	padding-bottom: 14px;
	font: 14px/1.28 Calibri;
}
.send-message,
.more-btn {
	display: inline-block;
	width: 248px;
	height: 26px;
	text-align: center;
	color: #232222;
	padding-top: 12px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 1px #ffea6a;
	font: 16px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-weight: bold;
	background: url('images/send-msg-bg.png') no-repeat left top;
}
.manager-activity .contact {
	margin-top: 10px;
}
.manager-activity .contact li {
	float: left;
	padding: 0 8px 0 5px;
	border-left: 1px solid #5a5a5a;
	color: #5a5a5a;
	font: 11px/1 Calibri; 
}
.manager-activity .contact li:first-child {
	border-left: 0;
	padding-left: 0;
}
.manager-activity .contact li a {
	text-decoration: none;
	color: #eb5e21;
}
.manager-activity .contact li a.like {
	color: #5a5a5a;
	display: block;
	padding-left: 15px;
	background: url('images/like2.png') no-repeat left top;
}
/*---------------------------------
  			INNER PAGE POST BLOCK
-----------------------------------*/
.page .post-block .block-one, 
.page .post-block .block-two  {
	width: 421px;
	height: 286px;
	background: none;
	margin: 0 45px 10px 0;
	padding-right: 0px;
}
.page .post-block {
	height: 305px;
	margin: 0 0 8px 28px;
	background: url('images/inner-block-bg.png') no-repeat center top;
}
.page .post-block h2, 
.page #wrap .tape-block h2 {
	border-bottom: 1px solid #dedede;
}
#wrap .post-block h2 span, 
#wrap .tape-block h2 span {
	text-transform: uppercase;
	font: 11px/1 Tahoma, Geneva, sans-serif;
}
#wrap .post-block h2 span a, 
#wrap .tape-block h2 span a {
	color: #ea5e21;
	margin: 0 3px;
	text-decoration : none;
}
#wrap .post-block h2 span a.active, 
#wrap .tape-block h2 span a.active,
#wrap .post-block h2 span a:hover, 
#wrap .tape-block h2 span a:hover {
	color: #3f3f3f;
}
.page .post-block ul {
	padding-right: 17px;
}
.page .post-block .more-post {
	margin-left: 390px;
}
.page .share-this {
	height: 51px;
	padding-top: 24px;
	margin-bottom:0;
	background: url('images/inner-block-bg.png') no-repeat left top;
}
.inner .share-this span{
	display: block;
	float: none;
	width: 67px;
	padding-top:0;
}
.inner .share-this ul {
	margin-left: 348px;
}
.page .post-block .block-one, 
.page .post-block .block-two {
	width: 421px;
}

/*---------------------------------
						ASIDE
-----------------------------------*/
aside {
	float: left;
	width: 218px;
	padding-top: 30px;
	margin: 0 29px 0;
}
aside div {
	padding: 16px 16px 0px 17px;
	box-shadow: 0 1px 1px #e9e9e9;
	border-radius: 15px;
	border-bottom: 1px solid #bebebe;
	background-color: #fff;
}
aside div h3 {
	color: #3f3f3f;
	font: 18px/1 Calibri;
	padding-bottom: 6px;
	margin-bottom: 10px;
	text-transform: uppercase;
	border-bottom: 1px solid #dedede;
}
aside div ul {
	margin-bottom: 27px;
}
aside div li {
	font: 11px/1.45 Calibri;
}
.order li div {
	float: left;
}
aside div li a {
	color: #eb5e21;
	text-decoration: none;
}
aside div li a span {
	color: #3f3f3f;
}
.order-page .respond {
	top: 392px;
}
.order {
	float: left;
	width: 653px;
	padding-top: 30px;	
}
.order table {
	width: 653px;
	border-collapse: collapse;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	background-color: #fff;
}
.order table thead {
	background-color: #e8e8e8;
}
.order  table th:first-child {
	text-align:left;
}
.order table th.name {
	width: 246px;
	padding-left: 37px;
	margin-left: 10px;
}
.order table th.number {
	width: 122px;
	padding-left: 9px;
}
.order table th.total-amount {
	width: 113px;
}
.order table th.action {
	width: 100px;
}
.order table td {
	padding-left: 9px;
	margin-left: 9px;
	text-align: center;
	font: 11px/1 Tahoma, Geneva, sans-serif;
}
.order table td.first{
		padding-top: 22px;	
}
.order table td:first-child {
	text-align: left;
}
.order table td:first-child span {
	color: #5a5a5a;
	display: block;
	padding-bottom: 3px;	
}
.order table tr td.vat-included {
	padding-top: 34px;
}
.order table td .product-quantity {
	display: block;
	width:48px;
	margin-left: 38px;
}
.order table td .count {
	float: left;
	display: block;
	width: 32px;
	height: 18px;
	margin-right: 4px;
	padding-top: 6px;
	text-align: center;
	box-shadow: 0px 1px 1px #e7e7e7;
	font: 11px/1 Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background: #f6f6f6;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(5%, #f6f6f6), to(100%, #fff));
	background: -webkit-linear-gradient(#f6f6f6, #fff);
	background: -moz-linear-gradient(#f6f6f6, #fff);
	background: -ms-linear-gradient(#f6f6f6, #fff);
	background: -o-linear-gradient(#f6f6f6, #fff);
	background: linear-gradient(#f6f6f6, #fff);
	-pie-background: linear-gradient(#f6f6f6, #fff);
	position: relative;
}
.order table td .quantity {
	float: left;
}
.order table td .quantity .add,
.order table td .quantity .minus {
	display: block;
	text-align: center;
	font: 11px/1 Tahoma, Geneva, sans-serif;
	font-weight: bold;
}
.order table tbody tr.spliter td{
	padding: 0;
}
.order table tbody tr span.saprator {
	width: 635px;
	margin-left: 9px;
	background: url('images/tr-bg.png') no-repeat center bottom;
}
.order table td .vat {
	display: block;
	padding-bottom: 8px;
	color: #3f3f3f;
	font: 12px/1 Tahoma, Geneva, sans-serif;
}
.order table td .price {
	color: #3f3f3f;
	display: block;
	padding-bottom: 30px;
	font: 14px/1 Calibri;
}
.order  table td a {
	color: #eb5e21;
	text-decoration: none;
	font: 11px/2 Tahoma, Geneva, sans-serif;
}
.order table td .add,
.order table td .remove {
	display: block;
}
.order .amount {
	display: block;
	float: left;
	color:#3f3f3f;
	margin-top: 27px;
	font: 16px/1 Calibri;
}
.order .order-btn {
	float: right;
	margin-right: 20px;
}
/*---------------------------------
		ANNOUNCEMENTS AND BLOG POSTS
-----------------------------------*/
.blog-page .page {
	margin-bottom: 30px;
}
.blog-post a {
	color: #ea5e21;
	text-decoration: none;
	font: 12px/1 Tahoma, Geneva, sans-serif;
}
.post p {
	padding-bottom: 10px;
}
.parent {
	margin:0 auto 24px;
}
.parent li {
	float: left;
	padding: 0 10px;
	font: 14px/1 Calibri;
	text-transform: uppercase;
	background: url('images/li2-bg.png') no-repeat left 2px;
	position: relative;
}
.parent li:first-child {
	background: none;
}
.parent li a {
	color: #ea5e21;
	position: relative;
	font: 14px/1 Calibri;
	text-decoration: none;
}
.parent li a.active,
.parent li a:hover {
	color: #3f3f3f;
}
.parent li .child {
	width: 81px;
	display: none;
	padding: 11px 8px 0;
	box-shadow: 0 1px 1px #e9e9e9;
	border-bottom: 1px solid #bebebe;
	background-color: #fff;
	position: absolute;
	top: 14px;
	left: 0;	
}
.parent li:hover .child {
	display: block;
}
.parent li li,
.parent li li:first-child {
	background: url('images/li-bg3.png') no-repeat left 5px;
	padding-left: 5px;
	margin-bottom: 8px;
}
.parent li li:active,
.parent li li:hover {
	background: url('images/li-bg-hover.png')no-repeat left 5px;
}
.parent li li a {
	display: block;
	font: 11px/1 Tahoma, Geneva, sans-serif !important;
}
.post-and-tags {
	padding-top: 30px;
	background: url('images/inner-block-bg.png') no-repeat center top;
}
.post-detail {
	padding-left: 290px;
	margin-bottom: 28px;
}
.post-detail li {
	float: left;
	color: #5A5A5A;
	margin-right: 15px;
	padding-left: 14px;
	font: 11px/1 Tahoma, Geneva, sans-serif;
	background: url('images/li2-bg.png') no-repeat left top;
}
.post-detail li:first-child {
	background: none;
	padding-left: 0;
}
.post-detail li a {
	color: #5a5a5a;
	text-decoration: none;
}
.post-detail li a:hover,
.post-detail li a.active {
	color: #ea5e21;
}
.post-detail li a.like {
	display: block;
	color: #ea5e21;
	padding-left: 19px;
	background: url('images/like.png') no-repeat left top;
}
.post-detail li a.comments {
	display: block;
	color: #ea5e21;
	padding-left: 20px;
	background: url('images/comment.png') no-repeat left 2px;
}
.tags {
	text-align: center;
}
.tags p {
	color: #5a5a5a;
	font: 11px/1 Tahoma, Geneva, sans-serif;
}
.tags p a {
	color: #ea5e21;
	text-decoration:none;
	font:11px/1 Tahoma, Geneva, sans-serif;
}
.tags p a:after { content: ", " }
.tags p a:last-child { content:"" }
.blog-page .tape-block {
	margin-top: 34px;
	padding-top: 39px;
	background: url('images/inner-block-bg.png') no-repeat left top;
}
/*---------------------------------
						BLOGGER
-----------------------------------*/
.blogger-page .post-block {
	height:338px;
	background:url('images/blogger-post-block.png') no-repeat center bottom;
}
.blogger .parent {
	margin-bottom: 62px;
}
.blog-posts {
	padding: 0 28px 0 30px;
}
.blog-posts li {
	float: left;
	width: 280px;	
	margin: 0 31px 30px 0;
}
.blog-posts li .profile-photo {
	float: left;
	width: 90px;
	height :84px;
	margin-right: 11px;
	border-radius: 13px;
	border: 1px solid #dedede;	
	background-color: #fff;
}
.blog-posts li .profile-photo a {
	display: block;
	width: 90px;
	height: 84px;
	text-decoration: none;
	background: url('images/photo2.jpg') no-repeat center top; 
}
.blog-posts li .blogger-info {
	float: left;
	width: 172px;
}
.blog-posts li h3 {
	padding-bottom: 9px;
	font: 14px/1 Calibri;
}
.blog-posts li h3 a{
	color:#3f3f3f;
	text-decoration:none;
}
.blog-posts li span {
	display: block;
	color: #3f3f3f;
	font: 11px/1.45 Tahoma, Geneva, sans-serif;
}
.blog-posts li .headline {
	color: #ea5e21;
}
.blog-posts li a.like {
	display: block;
	color: #3f3f3f;
	padding-left: 15px;
	text-decoration: none;
	background: url('images/like2.png') no-repeat left 2px;
}
.blogger .sort {
	text-align: center;
	margin-bottom: 29px;
}
.blogger .sort p {
	color: #3f3f3f;
	font: 11px/1 Tahoma, Geneva, sans-serif;
}
.blogger .sort p a {
	color: #ea5e21;
	text-decoration: none;
}
/*---------------------------------
				NUMBER OF CONTACTS
-----------------------------------*/
.contact-page .page {
	margin-bottom: 26px;
}
.contact-page .respond {
	top: 694px;
}
.contact-page .share-this {
	margin-bottom: 34px;
}
.option-one,
.option-two{
	height: 299px;
	text-align: center;
	margin-bottom: 29px;
	padding: 0 31px 30px 28px;
	background: url('images/inner-block-bg.png') no-repeat center bottom;
}
.option-two {
	height: 379px;
	margin-bottom: 0;
	padding-bottom: 0;
	background: none;
}
.option-one h3,
.option-two h3 {
	color: #3f3f3f;
	font: 18px/1 Calibri;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 26px;
}
.option-one ul,
.option-two ul {
	margin-bottom: 19px;
}
.option-one li.separator,
.option-two li.separator {
	width: 65px;
	height: 209px;
	border-bottom: 0;
	border-radius: 0;
	box-shadow: none;
	background: url('images/plus-bg.png') no-repeat center center;
}
.option-one li,
.option-two li {
	float: left;
	width: 256px;
	height: 209px;
	border-radius: 12px;
	border-bottom: 1px solid #bebebe;
	box-shadow: 0px 1px 1px #e9e9e9;
	background-color: #fff;
}
.option-one li a,
.option-two li a {
	width: 256px;
	height: 209px;
	display: block;
	color: #3f3f3f;
	text-align: center;
	text-decoration :none;
	font: 12px/1 Calibri;
	background: url('images/option-li-bg.png') no-repeat center center;
}
.option-one p,
.option-two p {
	color: #3f3f3f;
	font: 16px/1 Calibri;
	text-transform: uppercase;
}
.option-two .more-btn {
	margin-top: 37px;
}
/*---------------------------------
					SOLUTION-PAGE
-----------------------------------*/
.solution-page .page {
	margin-bottom: 26px;
}
.solution-page .share-this {
	margin-bottom: 34px;
}
.solution-page .option-one {
	margin-bottom: 0px;
}
.solution-page .more {
	margin-bottom: 0;
}
/*---------------------------------
				COMMENTS-PAGE
-----------------------------------*/
.ask-question {
	width: 898px;
	margin: 0 auto 30px;
	padding-top: 21px;
	border-radius: 12px;
	border: 1px solid #dedede;
	background-color: #fff;
}
.ask-question h3 {
	color: #373737;
	text-align: center;
	font: 12px/1.5 "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.form-wrapper {
	width: 563px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.ask-question form {
	position: relative;
	margin: 20px 0 0;
}
.ask-question .inFields {
	position: relative;
}
.ask-question .inFields label {
	color: #3f3f3f;
	font: 11px/1.45 Tahoma, Geneva, sans-serif;
	position: absolute;
	left: 10px;
	top: 14px;
}
.ask-question .inFields label span {
	color: #eb5e21;
	margin-right: 9px;
	font: 11px/1.45 Tahoma, Geneva, sans-serif;
	line-height: 2px;
	display: inline-block;
}
.ask-question .form-row .placeholder {
	margin: 0 0 -10px 4px;
	height: 23px;
	float: left;
}
.form-wrapper .left-form {
	float: left;
	width: 272px;
	margin-right:7px;
}
.form-wrapper .right-form {
	float: left;
	width: 272px;
}
.form-wrapper .form-row {
	margin-bottom: 6px;
}
.form-wrapper form img.captcha { cursor:pointer; }
.form-wrapper form input[type="text"],
.form-wrapper form input[type="password"],
.form-wrapper form textarea {
	width: 237px;
	color: #757575;
	border: 0 none;
	border-radius: 7px;
	padding: 14px 8px 14px 24px;
	font: 11px/1 Tahoma, Geneva, sans-serif;
	background-color: #f4f4f4;
}
.form-wrapper form textarea {
	width: 269px;
	height: 65px;
	resize: none;
	overflow: hidden;
	padding: 16px 8px 14px 24px;
}
.form-wrapper form input[type="submit"] {
	border: 0;
	width: 187px;
	height: 39px;
	cursor: pointer;
}
.form-wrapper form .more {
	padding-top: 0;
	clear: both;
}
.comment {
	width: 900px;
	margin: 0 auto;
}
.question {
	margin-bottom: 15px;
	padding: 9px 9px 8px;
	border-radius: 8px;
	background-color: #f4f4f4;
}
.question .text {
	float: left;
	width: 770px;
}
.question h3,
.answer h3{
	color: #3f3f3f;
	padding-bottom: 7px;
	font: 11px/1 Tahoma, Geneva, sans-serif;
	font-weight: bold;
}
.question p,
.answer p{
	color: #5a5a5a;
	font: 11px/1 Tahoma, Geneva, sans-serif;
}
.question .image,
.answer .image {
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 11px;
	box-shadow: 0 1px 1px #ccc;
	border-bottom: 1px solid #e9e9e9;
	background: #f3f2f2 url('images/post-li-bg.png') no-repeat center center;
}
.answer {
	width: 832px;
	margin: 0 auto 20px;
	padding: 6px 9px 5px;
	border: 3px solid #ebebeb;
	border-radius: 8px;
	position: relative;
	background-color: #fff;
}
.answer h3 {
	color: #ea5e20;
}
.answer .tip{
	position: absolute;
	top: -12px;
	left: 19px;
	width: 19px;
	height: 14px;
	background: url('images/answers-tip.png') no-repeat left top;
}
.answer .text {
	width: 772px;
	float: left;
}
.pagination {
	text-align: center;
}
.pagination span {
	display:block;
	margin-bottom:9px;
}
.pagination ul {
		margin: 0 auto;
}
.pagination li {
	float: left;
	height: 21px;
	margin-left: 5px;
}
.pagination  a {
	display: block;
	width:6px;
	height:10px;
	text-align:center;
	padding:5px 8px 7px 7px;
	text-decoration:none;
	color: #fff;
	font: 12px/1 Tahoma, Geneva, sans-serif;
	background: #ff971c;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(5%, #ff971c), to(40%, #eb5e21));
	background: -webkit-linear-gradient(#ff971c, #eb5e21);
	background: -moz-linear-gradient(#ff971c, #eb5e21);
	background: -ms-linear-gradient(#ff971c, #eb5e21);
	background: -o-linear-gradient(#ff971c, #eb5e21);
	background: linear-gradient(#ff971c, #eb5e21);
	-pie-background: linear-gradient(#ff971c, #eb5e21);
}
.pagination  a:hover {
	color:#1d1d1d;
	background: #f5f5f5 url('images/pagination-hover.png') left top;
}
/*---------------------------------
						FOOTER
-----------------------------------*/
.footer-wrapper {
	height: 241px;
	padding-top :27px;
	background-color: #626262;
}
footer {
	width: 960px;
	margin: 0 auto;
	position: relative;
	font: 12px/1.46 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
footer h4 {
	color: #fff;
	padding-bottom: 26px;
	font: 12px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
footer a {
	text-decoration :none;
	color: #fff;
}
.footer-logo {
	width: 212px;
	height: 242px;
	float: left;
	margin-right: 32px;
	background: url('images/address-separater.png') no-repeat right top;
}
.footer-logo a {
	display: block;
}
.footer-logo address {
	width: 142px;
	margin: 55px auto 0;
	color: #fff;
	text-align: right;
	font: 11px/1 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
footer .navigation-block {
	width: 716px;
	float: left;
}
footer .navigation {
	height: 180px;
	margin-bottom: 19px;
}
footer .home {
	width: 160px;
	float: left;
	margin-right: 48px;
}
footer .blog {
	width: 90px;
	float: left;
	margin-right: 25px;
}
footer .directions {
	width: 105px;
	float: left;
	margin-right: 26px;
}
footer .personal-data {
	width: 130px;
	float: left;
	margin-right: 26px;
}
footer .follow-us {
	width: 106px;
	float: left;
}
footer .site-development {
	width: 716px;
	padding-top: 10px;
	background: url('images/site-development-bg.png') no-repeat left top;
}
footer .Nsystems {
	float: left;
	color: #fff;
	margin-top: 4px;
}
footer .share-this {
	float: right;
	height: 22px;
	margin: 0 !important;
}
footer .share-this li {
	float: left;
	margin-left: 26px;
}
footer .share-this li a {
	display: block;
	width: 140px;
	height: 22px;
	text-indent: -9999px;
	background : url('images/share-this.png') no-repeat left top;
}
footer .share-this li a.facebook {
	width: 123px;
	background-position: -166px 0px;
}
footer .share-this li a.google {
	width: 60px;
	background-position: -316px 0px;
}
#link-top {
	position: absolute;
	top: 10px;
	right: 10px;
 *right: 25px;/*IE 7 ONLY*/
	left: auto;
	color: #666;
	text-decoration: none;
	display: inline-block;
	padding: 5px 10px;
	background: #e5e5e5;
	line-height: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius: 3px;
}
/*
--------------------------------
					PAGE 404
--------------------------------*/
.page404 {
	background: #fff url('images/404-bg.png') no-repeat center 438px;
}
.not-exist{
	width: 960px;
	margin: 0 auto;
	padding-top: 165px;
}
.not-exist img {
			padding: 0 0 50px 328px;
}
.not-exist p {
	width: 272px;
	margin: 0 auto;
	color: #3f3f3f;
	padding-bottom: 26px;
	text-align: center;
	font: 20px/1 Calibri;
}
.not-exist span {
	display: block;
	width: 272px;
	margin: 0 auto;
	color: #3f3f3f;
	padding-bottom: 32px;
	text-align: center;
	font: 14px/1 Calibri;
}
.not-exist span a {
	color: #ea5e21;
	text-decoration: none;
}
/*
--------------------------------
				LOGIN-BOX
--------------------------------*/

#login {
	width: 354px;
	height: 137px;
	border-radius: 14px;
}
#login .login-reg {
	display: block;
	height: 14px;
	padding: 12px 0 8px;
	border-radius: 14px 14px 0 0;
	background: #ff971c;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(5%, #ff971c), to(40%, #eb5e21));
	background: -webkit-linear-gradient(#ff971c, #eb5e21);
	background: -moz-linear-gradient(#ff971c, #eb5e21);
	background: -ms-linear-gradient(#ff971c, #eb5e21);
	background: -o-linear-gradient(#ff971c, #eb5e21);
	background: linear-gradient(#ff971c, #eb5e21);
	-pie-background: linear-gradient(#ff971c, #eb5e21);
}
#login .login-reg ul {
	width: 140px;
	margin: 0 auto;
}
#login .login-reg li {
	float: left;
	padding: 0 9px;
	color: #fff;
	font: 14px/1 Calibri;
	background: url('images/login-li-bg.png') no-repeat left 5px;
}
#login .login-reg li:first-child {
	background :none;
}
#login .form-wrap {
	height: 83px;
	padding-top: 20px;
	border-radius: 0 0 14px 14px;
	box-shadow: 0 5px 23px 0 #CCCCCC inset;
	background-color: #fff;
}
.ie7 #login .form-wrap,
.ie8 #login .form-wrap {
	background: #fff url('images/login-from-bg.png') no-repeat left top;
}
#login .form-wrap .form-row {
	float: left;
	width: 142px;
	padding-left: 21px;
}
#login .form-wrap input[type="text"], #login .form-wrap input[type="password"] {
	width: 132px;
	padding: 6px 9px 5px;
	color: #3f3f3f;
	border: 1px solid #c8c8c8;
	font: 11px/1.45 Tahoma, Geneva, sans-serif;
}
#login .form-row ul {
	float: left;
}
#login .form-row li {
	float: left;
	color: #3f3f3f;
	padding-left: 8px;
	margin-right: 8px;
	background: url('images/login-reg-li.png') no-repeat left 7px;
}
#login .form-row li:first-child {
	padding-left: 0;
	background :none;
}
#login .form-row li a {	
	color: #eb5e21;
	text-decoration: none;
	font: 11px/1.45 Tahoma, Geneva, sans-serif;
}
#login .form-wrap .login-btn {
	width: 314px;
	margin-top: 14px;
}
#login .form-wrap input[type="submit"]{
	float: right;
	border: none;
	width: 78px;
	height: 27px;
	border-radius: 8px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	box-shadow: 0px 1px 1px #c5c5c5;
	font: 14px/1.14 Calibri;
	background: #ff971c;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(5%, #ff971c), to(40%, #eb5e21));
	background: -webkit-linear-gradient(#ff971c, #eb5e21);
	background: -moz-linear-gradient(#ff971c, #eb5e21);
	background: -ms-linear-gradient(#ff971c, #eb5e21);
	background: -o-linear-gradient(#ff971c, #eb5e21);
	background: linear-gradient(#ff971c, #eb5e21);
	-pie-background: linear-gradient(#ff971c, #eb5e21);
	position: relative;
}
/*
--------------------------------
				FEEDBACK-BOX
--------------------------------*/
#feedback-box {
	width: 515px;
}
.feedback {
	width: 515px;
	height: 27px;
	padding-top: 6px;
	text-align: center;
	border-radius: 12px 12px 0 0;
	background: #ff971c;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(5%, #ff971c), to(40%, #eb5e21));
	background: -webkit-linear-gradient(#ff971c, #eb5e21);
	background: -moz-linear-gradient(#ff971c, #eb5e21);
	background: -ms-linear-gradient(#ff971c, #eb5e21);
	background: -o-linear-gradient(#ff971c, #eb5e21);
	background: linear-gradient(#ff971c, #eb5e21);
	-pie-background: linear-gradient(#ff971c, #eb5e21);
}
.feedback span {
	color: #fff;
	font: 14px/1.14 Calibri;
}
#feedback-box p {
	color: #3f3f3f;
	padding-bottom: 19px;
	margin:  0;
	font: 11px/1.45 Tahoma, Geneva, sans-serif;
}
#feedback-box p span{
	color: #eb5e21;
}
#feedback-box form {
	position: relative;
	margin: 0;
}
#feedback-box .inFields {
	position: relative;
}
#feedback-box .inFields label {
	color: #3f3f3f;
	font: 11px/1.45 Tahoma, Geneva, sans-serif;
	position: absolute;
	left: 10px;
	top: 6px;
}
#feedback-box .inFields label span {
	color: #eb5e21;
	margin-right: 9px;
	font: 11px/1.45 Tahoma, Geneva, sans-serif;
}
#feedback-box .form-row .placeholder {
	margin: 0 0 -10px 4px;
	height: 23px;
	float: left;
}
#feedback-box .form-wrap {
	margin: 0;
	border-radius: 0 0 12px 12px;
	padding: 20px 16px 15px 18px;
	box-shadow: 0 0px 23px 0 #CCCCCC inset;
	background-color: #fff;
}
#feedback-box .form-left {
	float: left;
	width: 185px;
	margin-right: 10px;
}
#feedback-box .form-right {
	float: left;
	width: 285px;
}
#feedback-box .form-row {
	margin-bottom: 10px;
}
#feedback-box input[type="text"],
#feedback-box textarea {
	width: 165px;
	padding: 6px 9px 5px;
	margin: 0;
	color: #3f3f3f;
	border:1px solid #c8c8c8;
	font: 11px/1.45 Tahoma, Geneva, sans-serif;
}
#feedback-box textarea {
	width: 264px;
	height: 127px;
	overflow: auto;
	resize: none;
}
#feedback-box input[type="submit"]{
	float: right;
	width: 98px;
	height: 26px;
	border: none;
	color: #fff;
	cursor: pointer;
	border-radius: 8px;
	font: 14px/1.14 Calibri;
	box-shadow: 0px 1px 1px #c5c5c5;
	background: #ff971c;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(5%, #ff971c), to(40%, #eb5e21));
	background: -webkit-linear-gradient(#ff971c, #eb5e21);
	background: -moz-linear-gradient(#ff971c, #eb5e21);
	background: -ms-linear-gradient(#ff971c, #eb5e21);
	background: -o-linear-gradient(#ff971c, #eb5e21);
	background: linear-gradient(#ff971c, #eb5e21);
	-pie-background: linear-gradient(#ff971c, #eb5e21);
	position: relative;
}
#feedback-box .submit {
	margin-bottom: 0;
}
#feedback-box .clean {
	float: left;
	color: #eb5e21;
	padding-top: 5px;
	text-decoration:none;
	font: 11px/1 Tahoma, Geneva, sans-serif;
}
.staticpage { padding: 0 28px 0 30px; }
.content, .author { font-family: Calibri; font-size: 14px ; color:#3F3F3F; }
.blogger {min-height: 346px}
.staticpage .content ol { list-style-type: decimal; margin: 14px 0px; padding-left: 40px; }
.staticpage .content ul { list-style-type: disc; margin: 14px 0px; padding-left: 40px; }

.post-and-tags ul.post-detail {
    padding-left: 290px;
    margin-bottom: 28px;
    list-style: none;
}

/*
----------------------------
TO TOP
----------------------------
*/
.to_top {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width:80px;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
  opacity: 0.3;
  display: none; 
}
.to_top .to_top_panel {
  width:100%;
  height: 100%;
  font-size: 11px;
  /*color: #4d7285;*/
  color:#EA5E21;
  padding-top: 10px; 
}
.to_top:hover {
  -moz-opacity: 0.9;
  filter: alpha(opacity=90);
  opacity: 0.9;
}
.to_top:hover .to_top_panel {
  cursor: pointer;
  background: #626262;
  color:#fff; 
}
.to_top .to_top_button {
  text-align: left;
  line-height: 8px;
  margin-left:10px;
  font-family: tahoma, arial, verdana, sans-serif;
  font-weight: bold; 
}	
.to_top .to_top_button .arrow{
	font-size: 14px;
	font-weight: bold; 
	font-family: tahoma;
	vertical-align: middle;
}
/* стиль для mini панели */

.to_top.mini {width:40px;}
.to_top.mini .to_top_panel .arrow{font-size:20px;}
.to_top.mini .to_top_panel .label{display:none;}
/*
----------------------------
AUTOBROWSE
----------------------------
*/
div.loader {
    font-style: italic;
    text-align: center;
    margin: 20px;
    height: 24px;
    background: url(images/loader.gif) no-repeat center center;
}

/*
----------------------------
BASKET
----------------------------
*/

.basket_menu {
	width: 210px;
	margin: 0 0px 30px 30px;
	padding: 10px 20px;
	border-radius: 12px;
	border: 1px solid #DEDEDE;
	background-color: white;
	float:left;
}

.basket_menu ul { font-family: tahoma, arial, verdana, sans-serif; font-size:11px; color:#EA5E21 }
.basket_menu ul li.header { color:#777; text-transform:uppercase; font-weight:bold; border-bottom:1px solid #AAA; }
.basket_menu strong { color: #3F3F3F; }

.basket_content {
	width:700px;
	float:left;
	clear:right;
}
.basket_content table, .basket_content th { font-family: tahoma, arial, verdana, sans-serif; font-size:11px; }
.basket_content th { text-transform:uppercase; background-color: #DDD; }
.basket_content td { border-bottom: 1px #DDD dashed; }

/*
----------------------------
CREATE POST
----------------------------
*/

/* Post page */
.wrapper {
	padding: 30px 20px 20px 25px;
	overflow: hidden;
	margin: 0 auto;
	width: 945px;
}
.create-post {
	background : none;
}
.user-profile {
	width : 215px;
	margin: 0 20px 0 0;
	padding: 0;
}
.user-profile h1 {
	font : 20px/1 Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	border-bottom : 1px solid #999999;
	padding-bottom : 5px;
	margin-bottom : 15px;
	color : #cccccc;
}
.user-profile .avatar {
	margin : 0 0 10px 15px;
}
.user-profile div {
	box-shadow : none;
	border-radius : 0; 
	border : 0 none;
	padding : 0;
}
.user-details,
.other-info h2 { 
	font : bold 14px/1 Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}
.user-details span { 
	font-weight : normal;
	margin-left : 3px;
}
.user-details div {
	margin-bottom : 5px;
}
.user-details .star {
	background : url("images/star.png") no-repeat;
	padding-left : 20px;
}
.other-info {
	padding-bottom : 55px;
}
.other-info h2 {
	margin-bottom: 5px;
}
.other-info p {
	font: 14px/1.2 Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	color: #cccccc;
}
.edit-info a {
	font : 14px/1 Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	color : #000000;
	margin-bottom: 5px;
	display: block;
}
.edit-info h2 a {
	margin-bottom : 22px;
}
.post-wrapper {
	width: 710px;
	float: left;
}
.post-wrapper h1 {
	font: bold 20px/1 Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	border-bottom: 1px solid #000000;
	padding-bottom: 5px;
	margin-bottom: 12px;
	color: #666666;
}
.post-form {
	background-color: #f3f3f3;
	padding: 10px 0 10px 22px;
}
.post-form label {
	font: 14px/1 Calibri;
	cursor: pointer;
	margin-right: 10px;
	text-align: right;
	display: block;
	color: #999999;
	float: left;
	width: 26%;
}
.post-form label strong {
	color: #000000;
}
.post-form input[type=text] {
	border: 1px solid #999999;
	width: 478px !important;
	vertical-align: middle;
	padding: 0 0 0 5px;
	border-radius: 3px;
	position: relative;
	color: #CCCCCC;
	height: 21px;
	float: left;
}
.post-form .form-row {
	margin-top: 3px;
}
.post-form .form-row:after,
.post-form .form-row:before {
	content: "";
	display: table;
}
.post-form .form-row:after {
	clear: both;
}
.post-form .form-row {
	zoom: 1;
}
.project-manager {
	position: relative;
	z-index: 5;
}
.project-designer {
	position: relative;
	z-index: 4;
}
.project-marketer {
	position: relative;
	z-index: 3;
}
.post-form .jqTransformSelectWrapper,
.post-form .jqTransformSelectWrapper ul {
	width: 235px !important;
}
.post-form .jqTransformSelectWrapper div span {
	width: 208px !important;
	height: 20px;
}
.post-form .form-row:first-child {
	margin-top: 0;
}
.post-form textarea {
	border-radius: 3px;
	border: 1px solid #999999;
	position: relative;
	min-height: 91px;
	width: 483px;
	resize: vertical;
}
.topic .jqTransformSelectWrapper {
	margin-right: 11px;
}
.ie7 .topic .jqTransformSelectWrapper {
	float: left;
}
.topic label,
.tags label,
.post-photo > label {
	font-weight: 800;
	color: #000000;
}
.styles,
.formatting {
	border: 1px solid #999999;
	margin: .5% 0 0 27.4%;
	float: left;
	height: 20px;
	width: 62px;
}
.formatting {
	margin-left: 5px;
}
.bold,
.italic,
.underline,
.numbering,
.bullets,
.quotes {
	background: url("images/strip.png") no-repeat;
	border-left: 1px solid #999999;
	display: block;
	height: 20px;
	float: left;
	width: 20px;
}
.bold {
	border: 0 none;
}
.italic {
	background-position: left -20px;
}
.underline {
	background-position: left -40px;
}
.numbering {
	background-position: left -60px;
	border: 0 none;
}
.bullets {
	background-position: left -80px;
}
.quotes {
	background-position: left -100px;
}
.post-photo div {
	float: left;
}
.photo-upload {
	margin-bottom: 20px;
	position: relative;
}
.photo-upload .delete {
	background: url("images/close-bg.jpg") no-repeat;
	position: absolute;
	width: 15px;
	height: 15px;
	display: none;
	cursor: pointer;
	top: 0;
	right: 0;
}
.photo-upload:hover .delete {
	display: block;
}
.photo-upload img {
	cursor: pointer;
	display: block;
}
.post-photo textarea {
	border: 1px solid #bdc7d8;
	min-height: 34px;
	float: left;
	clear: both;
	width: 123px;
}
.post-photo-cmt {
	margin-left: 20px;
}
.post-photo-cmt label {
	margin-bottom: 3px;
}
.aligning {
	margin-left: 10px;
	overflow: hidden;
	width: 172px;
}
.aligning span,
.upload span,
.top-face span { 
	font: bold 14px/1 Calibri;
	margin-bottom: 6px;
	color: #808080;
	display: block;
}
.aligning div {
	float: left;
	margin-left: 10px;
}
.aligning div a {
	background: url("images/strip.png") no-repeat;
	border: 1px solid #cccccc;
	display: block;
	height: 31px;
	width: 31px;
}
.aligning div a:hover,
.aligning div a.active {
	border: 1px solid #3b5998;
}
.aligning .justify {
	background-position: left -120px;	
}
.aligning .right {
	background-position: left -152px;
}
.aligning .center {
	background-position: left -184px;
}
.aligning .left {
	background-position: left -216px;
}

.upload {
	margin-bottom: 20px;	
}
.upload,
.top-face {
	clear: both;
	margin-left: 27.4%;
}
.top-face figure {
	margin: 15px 0 6px 0;
}
.top-face figcaption {
	font: 14px/1 Calibri;
}
.top-face figcaption span {
	font-weight: normal;
}
.top-face img {
	margin-bottom: 3px;
	display: block;
}
.row-submit {
	margin-left: 26.6%;
}
.ie7 .row-submit {
	margin-left: 13.9%;
}
.row-submit input[type=submit] {
	background: #fff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(5%, #fff), to(#d4d4d4));
	background: -webkit-linear-gradient(#fff, #d4d4d4);
	background: -moz-linear-gradient(#fff, #d4d4d4);
	background: -ms-linear-gradient(#fff, #d4d4d4);
	background: -o-linear-gradient(#fff, #d4d4d4);
	background: linear-gradient(#fff, #d4d4d4);
	-pie-background: linear-gradient(#fff, #d4d4d4);
	font: 14px/1 Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	position: relative;
	border: 1px solid #666666;
	display: block;
	height: 24px;
	border-radius: 3px;
	margin-left: 5px;
	color: #000000;
	float: left;
}
#publish {
	width: 97px;
}
#preview {
	width: 182px;
}
#drafts {
	width: 89px;
}
#resets {
	width: 52px;
}