.gdrsstitle {padding-bottom: 3px;}
.gdrsstitle a {text-decoration: none; color: #000000; font-size: 14px;}
.gdrssitemdate {font-size: 9px; display: none}
.gdrssitem {padding-top: 5px;}
.gdrssitemdetail {padding: 10px; border-bottom: 1px dotted #000000; font-size: 11px; background-color: #FFFFFF;}
.gdrssitemtitle {padding-top: 5px;}
