.traf0, .traf1, .traf2, .traf3, .traf4, .traf5 {font-size: 28px; }

.traf0 {color: #009715;}
.traf1 {color: #3cff00;}
.traf2 {color: #deff00;}
.traf3 {color: #fff600;}
.traf4 {color: #ff8a00;}
.traf5 {color: #ff0000;}
.gdtrafinfo {font-size: 10px;}
.gdtrafic {font-size: 10px;}
