/*Menu icon*/
#workflow_menu_icon {background-image:url(icons/workflow/mnu_workflow.gif);}
#workflow_page_icon {background-image:url(icons/workflow/title.gif);}

/* Workflow :: admin css */
.btndef{BORDER-BOTTOM: menu solid 1px; BORDER-LEFT: menu solid 1px; BORDER-RIGHT: menu solid 1px; BORDER-TOP: menu solid 1px;}
.btn{BORDER-BOTTOM: buttonshadow solid 1px; BORDER-LEFT: #F4F4F4 solid 1px; BORDER-RIGHT: buttonshadow solid 1px; BORDER-TOP:  #F4F4F4 solid 1px;}
.btnDown{BACKGROUND-COLOR: #D6D6CE; BORDER-BOTTOM: #F4F4F4 solid 1px;BORDER-LEFT: buttonshadow solid 1px;BORDER-RIGHT: #F4F4F4 solid 1px;BORDER-TOP:  buttonshadow solid 1px;}
.tablebodysm {background-color:#F1F1F1; padding:2px;}
